.Cell:hover {
  opacity: .5 !important;
}

.today {
  background: #fab4be !important;
}

.today:hover {
  background: #f34963 !important;
}

.today > div,
.Cell > div {
  color: black !important;
  border: 1px solid blue !important;
  background: lightblue !important;
}
