.Modal {
  position: fixed;
  background: white;
  width: 30%;
  border: 1px solid gray;
  box-shadow: 1px 1px 1px black;
  padding: 15px;
  left: 30%;
  top: 20%;
  box-sizing: border-box;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
}

.error {
  color: red;
}
